/*-----------------------------------*\
 * #c-style.css
\*-----------------------------------*/

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/
:root {

/* Colors */
    --middle-blue-green: hsl(176, 35%, 63%);
    --sonic-silver: hsl(0, 0%, 44%);
    --eerie-black: hsl(0, 0%, 9%);
    --ocean-green: hsl(148, 45%, 58%);
    --candy-pink: hsl(356, 65%, 63%);
    --cultured: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

/* Typography */
    --ff-jost: "Jost", sans-serif;

    --fs-1: 2.5rem;
    --fs-2: 1.75rem;
    --fs-3: 1.625rem;
    --fs-4: 1.5rem;
    --fs-5: 1.375rem;
    --fs-6: 1.25rem;
    --fs-7: 1.125rem;
    --fs-8: 0.938rem;
    --fs-9: 0.875rem;
    --fs-10: 0.813rem;

    --fw-500: 500;
    --fw-600: 600;

/* Transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.75s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

/* Spacing */
    --section-padding: 60px;
}

/* GENERAL SETTINGS */
/* ==================================== */
button {
    text-align: left;
    cursor: pointer;
    outline-color: var(--middle-blue-green);
}
/* ==================================== */
img {height: auto;}
ion-icon {pointer-events: none;}
/* ==================================== */
html {
    font-family: var(--ff-jost);
    color: var(--sonic-silver);
    scroll-behavior: smooth;
}
/* ==================================== */
body {
    background: var(--white);
    padding-block: 70px;
}

/* ==================================== */
/*              MODIFICATORS            */
/* ==================================== */
.green {--background: var(--ocean-green);}
.blue {--background: var(--middle-blue-green);}
/* ==================================== */
/*              VISIBILITY              */
/* ==================================== */
.header-search {display: none;}

/* ==================================== */
/*              REUSED STYLE            */
/* ==================================== */
a,
button { transition: var(--transition-1); }
h3 > a { color: inherit; }
/* Titles */
.h1,.h2,.h3,.h4 { 
    color: var(--eerie-black);
    font-weight: var(--fw--600);
}
.h1 {
    font-size: var(--fs-1);
    line-height: 1;
}
.h2 {font-size: var(--fs-2);}
.h3 {font-size: var(--fs-6);}
.h4 {
    font-size: var(--fs-7);
    font-weight: var(--fw--500);
}
/* buttons */
.btn {

    background-color: var(--background, var(--eerie-black));
    color: var(--color, var(--white));
    font-weight: var(--fw-600);
    
    height: var(--height, 60px);
    padding-inline: 50px;
    width: max-content;
    
    border: 1px solid var(--border-color, var(--eerie-black));
    border-radius: 6px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
/* container */
.container {
    padding-inline: 15px;
    max-width: 1400px;
    margin: 0 auto;
}
.overlay {
    position: fixed;
    top: 0; left: 0;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 2;
}
.overlay.active {
    opacity: .7;
    pointer-events: all;
}
/* ==================================== */
/*              HEADER                  */
/* ==================================== */
.header {
    position: absolute;
    top: 0; left: 0;
    background-color: var(--white);
    width: 100%;
    padding: 20px;
    z-index: 4;
    transition: var(--transition-1);
}
.header.active {
    position: fixed;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, .1);
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-open-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 8px; */
}
.nav-open-btn span {
    width: 20px;
    height: 2px;
    background-color: var(--sonic-silver);
    transition: var(--transition-1);
}
.nav-open-btn span:nth-child(2) {
    transform: scaleX(.5);
    transform-origin: right;
}
.nav-open-btn:is(:hover, :focus) span:nth-child(2){
    transform: scaleX(1);
}
.nav-open-btn:is(:hover, :focus) span {
    background-color: var(--eerie-black);
}

/* Header Action Buttons */
.header-actions {
    background-color: var(--white);
    
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    padding-block: 16px 10px;
    box-shadow: 0 -2px 20px hsla(0, 0%, 0%, .1);
    z-index: 1;

    /* visibility: hidden; */
}
.header-action-btn {
    position: relative;
    text-align: center;
    width: 50px;
}
.header-action-btn ion-icon {
    margin-inline: auto;
    font-size: 22px;
    margin-bottom: 3px;
}
.header-action-label {
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    transition: var(--transition-1);
}
.header-action-btn:is(:hover, :focus) .header-action-label {
    color: var(--eerie-black);
}
.btn-badge {
    position: absolute;
    top: -5px; right: 0;
    width: 20px; height: 20px;
    background-color: var(--background, var(--eerie-black));
    border-radius: 50%;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}
/* ================================ */

/* ===== NAVBAR ===== */
.navbar {
    background-color: var(--white);
    position: fixed;
    top: 0; right: -300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    z-index: 3;
    visibility: hidden;
    transition: .25s var(--cubic-out);
}
.navbar.active {
    visibility: visible;
    transform: translateX(-300px);
    transition: .5s var(--cubic-in);
}
.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.nav-close-btn {
    font-size: 32px;
    color: var(--sonic-silver);
    transition: var(--transition-1);
}
.nav-close-btn:hover {
    color: var(--eerie-black);
    transform: rotateZ(-90deg);
}
.navbar-item:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--cultured);
}
.navbar-link {
    color: var(--sonic-silver);
    transition: var(--transition-1);
}
.navbar-link:hover {
    color: var(--eerie-black);
}

/* ==================================== */
/*              PROMO                   */
/* ==================================== */
.promo {
    background-image: url("../images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
    width: 100%;
    min-height: 80vh;
    
    padding-block: var(--section-padding);
}
.promo__content {
    margin-top: 20%;
    padding: 0 25px;
}
.promo__subtitle {
    color: var(--eerie-black);
    font-size: var(--fs-4);
    font-weight: var(--fw--600);
    margin-bottom: 20px;
}
.promo__title {
    margin-bottom: 35px;
    /* max-width: 12ch; */
}
.btn-primary:is(:hover, :focus) {
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--eerie-black);
}
.btn-secondary {
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--white);
    --height: 50px;
}
.btn-secondary:is(:hover, :focus) {
    --background: var(--eerie-black);
    --color: var(--white);
    --border-color: var(--eerie-black);
}
.btn-outline {
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--eerie-black);
    --height: 50px;
    padding-inline: 40px;
}
.btn-outline:is(:hover, :focus) {
    --background: var(--eerie-black);
    --color: var(--white);
    --border-color: var(--eerie-black);
}

/* ==================================== */
/*              SERVICE                 */
/* ==================================== */
.service {
    padding: 30px;
}
.service__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 235px);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    justify-content: center;
}
.service__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service__item-icon {
    display: block;
}
.service__item-title {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--fw-600);
    line-height: 1.6;
}
.service__item-text {
    font-size: var(--fs-9);
}

/* ==================================== */
/*              CATEGORY                */
/* ==================================== */
.category { margin-top: 40px;}
.category__list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
}
.category__item {
    position: relative;
}
.category__item a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
/* .item-big {
    grid-column: span 2;
    grid-row: span 2;
} */
.category__banner {
    padding-bottom: 100%;
    background-color: var(--cultured);
}
.category__banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    transition: var(--transition-2);
}
.category__item:hover .category__banner img {
    transform: scale(1.05);
    cursor: pointer;
}

